# Jekyll & Sass
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby & Bundler
.bundle/
vendor/
Gemfile.lock

# Operating System & Editors
.DS_Store
.idx/
*.log

# Personal Backups & Drafts
_drafts/