{% comment %} Modern Favicon Set for Bethlehem to Seagrove {% endcomment %}

{% if site.favicon-32x32 %}
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/' | relative_url }}{{ site.favicon-32x32 }}">
{% endif %}

{% if site.touch-icon-192x192 %}
<link rel="icon" type="image/png" sizes="192x192"
	href="{{ '/assets/img/' | relative_url }}{{ site.touch-icon-192x192 }}">
{% endif %}

{% if site.apple-touch-icon-precomposed %}
<link rel="apple-touch-icon" href="{{ '/assets/img/' | relative_url }}{{ site.apple-touch-icon-precomposed }}">
{% endif %}

<link rel="icon" type="image/svg+xml" href="{{ '/assets/img/favicon.svg' | relative_url }}">

<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">

{% if site.msapplication_tilecolor %}
<meta name="msapplication-TileColor" content="{{ site.msapplication_tilecolor }}">
{% endif %}